<div class="flex flex-col gap-2 mx-4">
  <div class="titulo-pantalla">
    <h1>{{ 'GE-CU1_1.titulo' | translate }}</h1>
  </div>
  <emeth-campos-obligatorios-label></emeth-campos-obligatorios-label>
  <emeth-gen-card titulo="{{ 'GE-CU1_1.informacion_epsae' | translate}}">
    <div [formGroup]="form" class="flex flex-col gap-2">
      <!-- Fila de Acrónimo -->
      <div class="flex gap-4">
        <div class="w-[30%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">*</span>
            <span>{{ 'GE-CU1_1.acronimo' | translate }}:</span>
          </label>
        </div>
        <div class="flex flex-col w-[25%]">
          <input formControlName="acronimo" class="input input-primary input-sm w-full">
          <emeth-form-alert *ngIf="form.controls.acronimo.touched && form.controls.acronimo.hasError('notBlank')" type="error">
            {{ 'mensajes.campo_obligatorio' | translate }}
          </emeth-form-alert>
          <emeth-form-alert *ngIf="form.controls.acronimo.touched && form.controls.acronimo.hasError('minlength')" type="error">
            {{ 'mensajes.caracteres_minimos' | translate: {minimo: minimoAcronimo} }}
          </emeth-form-alert>
        </div>
      </div>
      <!-- Fila de Nombre -->
      <div class="flex gap-4">
        <div class="w-[30%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">*</span>
            <span>{{ 'GE-CU1_1.nombre' | translate }}:</span>
          </label>
        </div>
        <div>
          <input class="input input-primary input-sm">
        </div>
      </div>
      <!-- Fila de Vigencia del contrato del -->
      <div class="flex gap-4">
        <div class="w-[30%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">*</span>
            <span>{{ 'GE-CU1_1.vigencia_contrato' | translate }}:</span>
          </label>
        </div>
        <div>
          <emeth-datepicker [showTime]="false"></emeth-datepicker>
        </div>
      </div>
      <!-- Fila de Al -->
      <div class="flex gap-4">
        <div class="w-[30%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">*</span>
            <span>{{ 'GE-CU1_1.al' | translate }}:</span>
          </label>
        </div>
        <div>
          <emeth-datepicker [showTime]="false"></emeth-datepicker>
        </div>
      </div>
    </div>
  </emeth-gen-card>
  <div class="flex justify-center gap-2">
    <button
      (click)="guardar()"
      mat-flat-button
      color="primary"
      class="boton-accion"
      type="button">
      {{ 'etiquetas.aceptar' | translate }}
    </button>
    <button
      mat-flat-button
      color="accent"
      class="boton-accion"
      type="button">
      {{ 'etiquetas.cancelar' | translate }}
    </button>
  </div>
</div>
